#######################
# G O L A N G
#
#######################

# Binaries
*.exe
*.dll
*.test

#######################
# N O D E J S
#
#######################

# testing
coverage/

# production
web/build/

# Dependency directories
node_modules/
.pnp
.pnp.js

# Logs
yarn-debug.log*
yarn-error.log*

# Yarn integrity file
.yarn-integrity

#######################
# M I S C
#
#######################

.env
swagger.inc.yaml