.ui.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 0;
  z-index: 1;

  transition: 300ms ease;

  &__button {
    width: 415px;

    text-decoration: none;
    color: #055ba6;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.32em;
    text-transform: uppercase;

    transition: 0.2s ease;

    &:hover {
      color: #f25c78;

      transition: 0.2s ease;
    }
  }
  @include tablet {
    &__button {
      font-size: 22px;
    }
  }
  @include desktop {
    &__button {
      font-size: 22px;
    }
  }
}

.navigation_sticky {
  background: linear-gradient(0deg, #ffffffdd, $white);
  transition: 300ms ease;
}
