$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

.landpage {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url('../../images/gallery_1.jpg');
  background-repeat: no-repeat;
  header {
    margin: 0;
    font-family: $primaryFont;
    font-size: 2em;
    color: #f0f8ff;
    text-align: center;
    h1 {
      margin: 0;
      padding: 256px;
    }
  }
}